{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "next/core-web-vitals",
    "next",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "arrow-body-style": ["error", "always"],
    "func-style": ["error", "expression"],
    "react/display-name": "off",
    "prefer-arrow-callback": "error",
    "react/react-in-jsx-scope": "off",
    "no-unused-expressions": 0,
    "import/extensions": ["off"],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "no-nested-ternary": "error",
    "react/jsx-filename-extension": "off",
    "spaced-comment": "off",
    "no-unused-variable": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
